@import 'tailwindcss';

:root {
  --background: #fefefe;
  --foreground: #52526b;
  --primary: #223a78;
  --primary-light: #4a5e91;
  --primary-dark: #172954;
  --secondary: #ff7543;
  --secondary-light: #ff916b;
  --secondary-dark: #cc5a33;
  --border: #d4d4d8;
  --hover: #326bde;
  --text-primary: #52526b;
  --text-secondary: #3f3f46;
  --text-caption: #71717a;
  --text-title: #27272a;
  --gray-400: #a1a1aa;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);
  --color-border: var(--border);
  --color-hover: var(--hover);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-caption: var(--text-caption);
  --color-text-title: var(--text-title);
  --color-gray-400: var(--gray-400);
  --color-white: var(--white);
  --font-sans: var(--font-geist-sans), var(--font-yekan);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-yekan), var(--font-geist-sans), 'Inter', 'Roboto',
    'Helvetica', 'Arial', sans-serif;
}
